.Navigation{
    display: flex;
    background-color: rgb(1, 15, 36);
    color: white;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
}

.List-ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.List-ul li{
    list-style-type: none;
}

.Link{
    color: white;
}

.active{
    background-color: rgb(131, 26, 0);
    height: 1rem;
}

.img_logo img{
    width: 50px;
    height: 50px;
}