.Navigation{
    display: flex;
    background-color: rgb(1, 15, 36);
    color: white;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
}

.List-ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.List-ul li{
    list-style-type: none;
}

.Link{
    width: 200px;
    border: 1px solid #e2c043;
    padding: 10px ;
    background-color: #e2c043;
    color: white !important;
    border-radius: 10px;
    transition: 0.5s
}

.Link:hover{
    border: 1px solid #a7b46e;
    background-color: #a7b46e;
}

.active{
    background-color: rgb(131, 26, 0);
    height: 1rem;
}

.img_logo img{
    width: 50px;
    height: 50px;
}