.CardContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 70px;
	padding: 25px;
}

.CardItem {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 20px;
}

.CardItem img{
	width: 100px;
}