.CardContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 70px;
	padding: 5px;
	
}

.CardItem {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}